<nav class="top_menu">
    <ul>
     <li>
       <a href="Buick.html">Home</a>
    </li>
      <li>
        <a href="">Model</a>
        <ul>
          <li>           
             <li><a href="Encore.html">Encore</li></a>
             <li><a href="">Enclave</li></a>
             <li><a href="">Envision</li></a>
             <li><a href="">Regal</li></a>             
          </li>
        </ul>
      </li>
     <li>
       <a href="#">History</a>
    </li>
     <li>
       <a href="#">Contacts</a>
    </li>
    <li>
       <a href="https://www.google.com/maps/place/MacMaster+Buick+GMC/@43.3425561,-79.8696642,8.5z/data=!3m1!5s0x882b00f89f2ea409:0x5717cd2b343a60d2!4m9!1m2!2m1!1sbuick+canada!3m5!1s0x882b008e3fc6e59b:0x31d3a349ed2c2a1a!8m2!3d43.9279184!4d-80.0606604!15sCgxidWljayBjYW5hZGFaDiIMYnVpY2sgY2FuYWRhkgEKY2FyX2RlYWxlcg"> Map</a>
    </li>
    </ul>
 </nav>